@import "@fontsource/montserrat";
@import "@fontsource/orbitron";
@import "tailwindcss";

@keyframes float {
  0%, 100% { transform: translateY(0) translateX(0); }
  50% { transform: translateY(-20px) translateX(10px); } 
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}

.animate-float-delay {
  animation: float 10s ease-in-out infinite 2s;
}

.will-change-transform {
  will-change: transform;
}
:root {
  --background: #0F0F0F;
  --foreground: #ffffff;
  --font-sans: 'Montserrat', sans-serif; /* aici Montserrat */
  --font-display: 'Orbitron', sans-serif;
  --primary: #4F8484;
  --primary-hover: #364545;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
.font-display {
  font-family: var(--font-display);
}
.font-sans{
  font-family: var(--font-sans);
}
body {
  background: var(--background);
  color: var(--foreground);
}
